{% extends 'fractionmaterialpresent/base.html' %}
{% load widget_tweaks %}



{% block content %}
{% include "menu1.html" %}
{% include "fractionmaterialpresent/menu2.html" %}
<div class="container">
    <h1>Fraction</h1>
    <div class="col-sm-3">
    <form method="POST" class="post-form">{% csrf_token %}
        <!--  {{ form.as_p }}   -->
        <!-- Fraction ID{{ form.fraction_id|add_class:"form-control"}}<br /> -->
        Botany ID{{ form.fraction_id|add_class:"form-control"}}<br />
        Fraction ID{{ form.fraction_id|add_class:"form-control"}}<br />
        Material{{ form.material|add_class:"form-control"}}<br />

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div>
</div>

{% endblock %}


<!--    |append_attr:"placeholder:Username"   -->
