{% extends 'storage/base.html' %}
{% block content%}

<div class="container">

<h1>allstorage</h1>
<div class="album py-5 ">
  <div class="row">
    {% for storage in storage.all %}
    <div class="col-md-4">
      <a href="{% url 'detailstorage' storage.store_id %}">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="" />
          <div class="card-body">
            <p class="card-text text-center">{{ storage.store_name }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>



</div>
</div>





{% endblock %}
