{% extends 'location/base.html' %}
{% block content%}


<div class="container">


<div class="album py-5 ">

  <section>
    <div class="float-right col-sm-1">
      <div>
        <a href="{% url 'createlocation' %}">
          <button  type="button" class="btn btn-primary">Add new location</button>
        </a>
      </div>
    </div>
  </section>

  <div class="row">
    {% for location in location.all %}

<a class="text-light" href="{% url 'detaillocation' location.location_id %}">
  <div class="col-md-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <!--div class="card-header">{{ store.store_name }}</div-->
      <div class="card-body"  style="height: 230px;">
        <h5 class="card-title text-center">{{ location.location_name }}</h5>
        <img class="card-img-top p-3" src="{{ store.image.url }}" /></a>
        <ul>
        <li class="card-text" style = "font-size:0.7em;">Location Type: {{ location.location_type }} {{ store.address_2 }} {{ store.city }} {{ store.region }} {{ store.zip }} {{ store.country }}</li>
      </ul>
      </div>
    </div>
  </div>
</a>
      {% endfor %}

  </div>
</div>
</div>





{% endblock %}
