{% extends 'samples/base.html' %}
{% block content%}

<div class="container">
<div class="album py-5 ">
  <section>
    <div class="float-right col-sm-1">
      <div>
        <a href="{% url 'createsample' %}">
          <button  type="button" class="btn btn-primary">Add new sample</button>
        </a>

      </div>
    </div>
  </section>
  <div class="row">
    {% for samples in samples.all %}
<!-- |slice:":10" -->
    <a class="text-light" href="{% url 'detailsamples' samples.sample_id %}">
    <div class="col-md-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <!--div class="card-header">{{ store.store_name }}</div-->
        <div class="card-body"  style="height: 230px;">
          <h5 class="card-title text-center"> {{ samples.area_easting }}.{{ samples.area_northing }}.{{ samples.context_number }}.{{ samples.sample_number }}</h5>
          <img class="card-img-top p-3" src="{{ store.image.url }}" /></a>
          <div class="card-text" style = "font-size:0.7em;">
            <ul>

            <li>Sample Identifier: {{ samples.area_easting }}.{{ samples.area_northing }}.{{ samples.context_number }}.{{ samples.sample_number }}</li>

          </ul>
          </div>
        </div>
      </div>
    </div>
  </a>



      {% endfor %}

  </div>
</div>
</div>





{% endblock %}
