





      <div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
        <div class="navbar-inner">
          <a href="{% url 'createqnisp' %}">
            <button  type="button" class="btn btn-success">New Qnisp</button>
          </a>
          <!-- <a href="{% url 'createqnisp' %}">
            <button  type="button" class="btn btn-secondary">New Qnisp</button>
          </a> -->
        </div>
        <!-- <div class="navbar-inner">
          <a href="{% url 'createqnisp' %}">
            <button  type="button" class="btn btn-secondary">New Qnisp</button>
          </a>
        </div> -->
    </div>
  </div>
<div class="clearfix"></div>

  </header>
