{% extends "currencies/base.html" %}

{% block content %}
{% if filter.form %}
<form action="" method="get">
  {{ filter.form.as_table }}
  <!-- {% for field in filter.form %}
  {{ field }}
  {% endfor %} -->
  <input type="submit" />
</form>
{% endif %}

<ul class="">
  {% for o in object_list %}
  <li>{{ o.location_id }}, {{ o.location_identifier }}, {{ o.location_name }}, {{ o.location_type }}, {{ o.current_location_tmp }}</li>

  {% endfor %}
</ul>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">next</a>
    {% endif %}
  </span>
</div>
{% endblock %}
