{% extends 'samples/base.html' %}
{% load widget_tweaks %}



{% block content %}

{% include "menu1.html" %}
{% include "samples/menu2.html" %}
<div class="container">
    <h1>Sample</h1>
    <div class="col-sm-3">

    <form method="POST" class="post-form">{% csrf_token %}
        <!--  {{ form.as_p }}   -->


        container_id{{ form.container_id|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />

        Area Easting{{ form.area_easting|add_class:"form-control"|append_attr:"placeholder:Area Easting"}}<br />
        Area Northing{{ form.area_northing|add_class:"form-control"|append_attr:"placeholder:Area Norting"}}<br />
        Context Number{{ form.context_number|add_class:"form-control"|append_attr:"placeholder:Context Number"}}<br />
        Sample Number{{ form.sample_number|add_class:"form-control"|append_attr:"placeholder:Sample Number"}}<br />

        Material{{ form.material|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        Specific Material {{ form.specific_material|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />


        exterior_color_hue{{ form.exterior_color_hue|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        exterior_color_lightness_value{{ form.exterior_color_lightness_value|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        exterior_color_chroma{{ form.exterior_color_chroma|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        interior_color_hue{{ form.interior_color_hue|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />

        interior_color_lightness_value{{ form.interior_color_lightness_value|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        interior_color_chroma{{ form.interior_color_chroma|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        weight_kilograms{{ form.weight_kilograms|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        sample_description{{ form.sample_description|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        category{{ form.category|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        subcategory{{ form.subcategory|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        count{{ form.count|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        current_location{{ form.current_location|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        recovery_type{{ form.recovery_type|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        problems{{ form.problems|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        Image Files{{ form.image_files|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        3D Files{{ form.number_3d_files|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        Chronology{{ form.chronology|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        Analysis Request{{ form.analysis_request|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        detailed_sample_description{{ form.detailed_sample_description|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        bureaucratic_status{{ form.bureaucratic_status|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        subjective_significance{{ form.subjective_significance|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        museum_inventory_number{{ form.museum_inventory_number|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />
        bureaucratic_status_identifier{{ form.bureaucratic_status_identifier|add_class:"form-control"|append_attr:"placeholder:Country"}}<br />

<br />
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div>


</div>
{% endblock %}<!--    |append_attr:"placeholder:Username"   -->
