<div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
  <div class="navbar-inner">
    <a href="{% url 'createsample' %}">
      <button  type="button" class="btn btn-secondary">Add new Sample</button>
    </a>
    <a href="{% url 'allsamples' %}">
      <button  type="button" class="btn btn-info">Samples</button>
    </a>
    <a href="{% url 'all_sample_container_joins' %}">
      <button  type="button" class="btn btn-warning"><-join-></button>
    </a>
    <a href="{% url 'allcontainer' %}">
      <button  type="button" class="btn btn-info">Containers</button>
    </a>
    <a href="{% url 'alllocation' %}">
      <button  type="button" class="btn btn-info">Locations</button>
    </a>
    <a href="{% url 'allstorage' %}">
      <button  type="button" class="btn btn-info">Depots</button>
    </a>
  </div>
</div>
</div>
<div class="clearfix"></div>
</header>
