{% extends "fraction/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "fraction/menu2.html" %}







<h1>Fraction</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Fraction ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>

    </tr>
  </thead>
  <tbody>
    {% for fraction in fraction.all %}
    <tr>


      <td>{{ fraction.fraction_id }}</td>
      <td>{{ fraction.botany_id }}</td>
      <td>{{ fraction.proportion_analysed }}</td>
      <td>{{ fraction.soil_volume }}</td>

      <td>{{ fraction.sample_volume }}</td>
      <td>{{ fraction.sample_weight }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'createfraction' %}" class="btn btn-primary" role="button">Add Fraction</a>
          <a href="{% url 'detailfraction' fraction.fraction_id %}" class="btn btn-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="btn btn-secondary" role="button">request</a>
        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>











{% endblock %}
