{% extends 'container/base.html' %}
{% block content%}


<div class="container">


<div class="album py-5 ">

  <a href="">
    <button  type="button" class="btn btn-success">Filters</button>
  </a>

  <div class="row">
    {% for container in container.all %}
    <div class="col-md-4">
      <a href="{% url 'detailcontainer' container.container_id %}">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="" />
          <div class="card-body">
            <p class="card-text text-center">{{ container.container_name }}</p>
          </div>
        </a>
      </div>
</div>
      {% endfor %}

  </div>
</div>
</div>





{% endblock %}
