<div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
  <div class="navbar-inner">
    <a href={"% url 'createsample' %">
      <button  type="button" class="btn btn-secondary">Add new Sample</button>
    </a>
    <a href="{% url 'allzooarch' %}">
      <button  type="button" class="btn btn-info">Faunal</button>
    </a>
    <a href="{% url 'allqnisp' %}">
      <button  type="button" class="btn btn-warning">Qnisp</button>
    </a>

  </div>
</div>
</div>
<div class="clearfix"></div>
</header>
