{% extends "fractioncomposition/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "fractioncomposition/menu2.html" %}







<h1>All Fraction Composition</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Fraction ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>

    </tr>
  </thead>
  <tbody>
    {% for fractioncomposition in fractioncomposition.all %}
    <tr>


      <td>{{ fractioncomposition.fract_comp_id }}</td>
      <td>{{ fractioncomposition.fraction_id }}</td>
      <td>{{ fractioncomposition.material_type }}</td>
      <td>{{ fractioncomposition.fraction }}</td>

      <td>{{ fractioncomposition.type_count }}</td>
      <td>{{ fractioncomposition.whole_weight }}</td>
      <td>{{ fractioncomposition.fragment_weight }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'createfraction' %}" class="btn btn-primary" role="button">Add Fraction</a>
          <a href="{% url 'detailfractioncomposition' fractioncomposition.fract_comp_id %}" class="btn btn-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="btn btn-secondary" role="button">request</a>
        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>











{% endblock %}
