views.py
from . import filters

def containerfilterpage(request):
    # BTW you do not need .all() after a .filter()
    # local_url.objects.filter(global_url__id=1) will do

    #allstorage = Storage.objects
    #return render(request, 'storage/allstorage.html', {'storage':allstorage})
    filtered_qs = filters.ContainerFilter(request.GET, queryset=Container.objects.all()).qs
    paginator = Paginator(filtered_qs, 5)

    page = request.GET.get('page')
    try:
        response = paginator.page(page)
    except PageNotAnInteger:
        response = paginator.page(1)
    except EmptyPage:
        response = paginator.page(paginator.num_pages)

    return render(
        request,
        'container_list.html',
        {'response': response}
        )




{% extends 'search/base.html' %}

{% load widget_tweaks %}

{% block content %}

  <form method="get">
    <div class="well container">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.location_id.label_tag }}
          {% render_field filter.form.location_id class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.container_id.label_tag }}
          {% render_field filter.form.container_id class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.container_name.label_tag }}
          {% render_field filter.form.container_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.container_type.label_tag }}
          {% render_field filter.form.container_type class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.sample_id.label_tag }}
          {% render_field filter.form.sample_id class="form-control" %}
        </div>

        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.current_location_tmp.label_tag }}
          {% render_field filter.form.current_location_tmp class="form-control" %}
        </div>

      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
      <a href="{% url 'containersearch' %}">
      <button type="submit" class="btn btn-secondary">
        <span class="glyphicon glyphicon-search"></span> Reset
      </button>
    </a>
    </div>
  </form>
<div class="container-fluid pt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Location(id)</th>
        <th>Container(id)</th>
        <th>Name</th>
        <th>Type</th>
        <th>Sample(id)</th>
        <th>Current Location (tmp)</th>
        <th>actions</th>



      </tr>
    </thead>
    <tbody>
      {% for container in filter.qs %}
        <tr>
          <td>{{ container.location_id }}</td>
          <td>{{ container.container_id }}</td>
          <td>{{ container.container_name }}</td>
          <td>{{ container.container_type }}</td>
          <td>{{ container.sample_id }}</td>
          <td>{{ container.current_location_tmp }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'editcontainersearch' pk=container.pk %}" class="btn btn-primary" role="button">edit</a>
          <a href="{% url 'editcontainersearch' pk=container.pk %}" class="btn btn-secondary" role="button">take out</a>
          <a href="{% url 'editcontainersearch' pk=container.pk %}" class="btn btn-secondary" role="button">request</a>
          </div>
          </td>

        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
