
{% extends 'upload_photo/base.html' %}







{% block content%}
{% include "menu1.html" %}
{% include "upload_photo/menu2.html" %}
<div class="container">



  <div class="row">
    {% for attachment in attachment.all %}
    <a class="text-dark" href="% url 'detailstorage' storage.store_id %">
    <div class="col-md-4">
      <div class="card mb-3" style="max-width: 18rem;">
        <!-- div class="card-header">{{ storage.store_name }}</div -->
        <div class="card-body"  >

          <img class="card-img-top p-3" src="{{ attachment.file.url }}" /></a>
          <h5 class="card-title text-center">{{ attachment.file }}</h5>
          <p class="card-text" style = "font-size:0.7em;">{{ storage.address_1 }} {{ storage.address_2 }} {{ storage.city }} {{ storage.region }} {{ storage.zip }} {{ storage.country }}</p>
        </div>
      </div>
    </div>
  </a>
    {% endfor %}
  </div>



  {% endblock %}
</div>
