<div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
  <div class="navbar-inner">
    <a href="{% url 'photo_upload' %}">
      <button  type="button" class="btn btn-success">Add photos</button>
    </a>
    <a href="{% url 'allimages' %}">
      <button  type="button" class="btn btn-info">View Photos</button>
    </a>
    <!-- <a href="% url 'all_sample_container_joins' %">
      <button  type="button" class="btn btn-warning"><-join-></button>
    </a>
    <a href="% url 'allcontainer' %">
      <button  type="button" class="btn btn-info">Containers</button>
    </a>
    <a href="% url 'alllocation' %">
      <button  type="button" class="btn btn-info">Locations</button>
    </a>
    <a href="% url 'allstorage' %">
      <button  type="button" class="btn btn-outline-info">Depots</button>
    </a> -->
  </div>
</div>
</div>
<div class="clearfix"></div>
</header>
