{% extends 'excavation/base.html' %}
{% load widget_tweaks %}
{% block content %}




<form method="get">
  <div class="well container">
    <h4 style="margin-top: 0">Filter</h4>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        {{ response.form.container_type.label_tag }}
        {% render_field response.container_type class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
    <a href="{% url 'containersearch' %}">
    <button type="submit" class="btn btn-secondary">
      <span class="glyphicon glyphicon-search"></span> Reset
    </button>
  </a>
  </div>
</form>
<div class="container-fluid pt-3">






<div class="container-fluid pt-3">
  <div class="pagination">
    <span class="step-links">
      {% if response.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ response.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ response.number }} of {{response.paginator.num_pages}}.
      </span>
      {% if response.has_next %}
      <a href="?page={{ response.next_page_number }}">next</a>
      <a href="?page={{ response.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>E.N.C</th>
        <th>Context Type</th>
        <th>Description</th>
        <th>Deposition Interpretation</th>
        <th>Subtable</th>
        <th>Chronology</th>
        <th>Chronology Source</th>
        <th>Stratigraphic Narrative</th>
        <th>Action</th>



      </tr>
    </thead>
    <tbody>
      {% for paginator in response %}

      <tr>
        <td>{{ paginator.context_id }}</td>
        <td>{{ paginator.area_easting }}.{{ paginator.area_northing}}.{{ paginator.context_number }}</td>

        <td>{{ paginator.context_type }}</td>
        <td>{{ paginator.description }}</td>
        <td>{{ paginator.deposition_interpretation }}</td>
        <td>{{ paginator.subtable }}</td>
        <td>{{ paginator.chronology }}</td>
        <td>{{ paginator.chronology_source }}</td>
        <td>{{ paginator.stratigraphic_narrative }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">

            <a href="{% url 'editcontextsearch' pk=paginator.pk %}" class="btn btn-primary" role="button">edit</a>
            <a href="{% url 'editcontextsearch' pk=paginator.pk %}" class="btn btn-secondary" role="button">take out</a>
            <a href="{% url 'editcontextsearch' pk=paginator.pk %}" class="btn btn-secondary" role="button">request</a>
          </div>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if response.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ response.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ response.number }} of {{response.paginator.num_pages}}.
      </span>
      {% if response.has_next %}
      <a href="?page={{ response.next_page_number }}">next</a>
      <a href="?page={{ response.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>







{% endblock %}
